body {
    margin: 0;
    min-width: 1100px;
}
    
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 85px;
    align-items: center;
    background-color: #FFF;
}
    
.container {
    display: flex;
    min-width: 1340px;
    min-height: 201px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    font-weight: 400;
    font-style: normal;
    list-style-type: circle;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
}
    
.header__links-list-item {
    color: #000;
    font-size: 18px;
    font-family: 'Raleway', 'Arial', sans-serif;
    padding: 0;
    align-self: center;
    text-underline-position: under;
}
    
.header__logo {
    display: inline-block;
    max-height: 109px;
    max-width: 148px;
    margin-right: 355px;
    margin-left: 209px;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}
    
.address {
    display: inline;
    text-underline-position: under;
    color: #000;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
}

.container_address {
    display: flex;
    justify-content: flex-end;
    color: #000;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
}
    
.cover {
    background-image: url(../images/cover.jpg);
    background-color: #000;
    max-width: 1440px;
    max-height: 764px;
    margin-bottom: 170px;
    margin-top: 92px;
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}
    
.overlay {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    background-color: #000;
    inset: 0;
}

.cover__title {
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 165px 50px 132px 50px;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Raleway', 'Arial', sans-serif;
    z-index: 1;
    letter-spacing: 60px;
}
    
.aligned-text {
    align-self: start;
    line-height: 115px;
    z-index: 1;
}

.aligned-text_center {
    align-self: center;
    line-height: 100%;
    padding: 0;
    z-index: 1;
}

.aligned-text_right {
    text-align: end;
    min-width: 1400px;
    line-height: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.letter-spacing-extened {
    letter-spacing: 80px;
}

.no-letter-spacing {
    letter-spacing: 30px;
}

.cover__description {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 50px;
    padding-bottom: 69px;
    gap: 80px;
}

.cover__description-text {
    line-height: 28px; /* 127.273% */
    color: #FFF;
    word-spacing: 18px;
    font-weight: 400;
    line-height: 28px;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Raleway', 'Arial', sans-serif;
    z-index: 1;
}

.bet-button {
    color: #FFF;
    background-color: transparent;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #FFF;
    padding: 12px 32px;
    text-decoration: none;    
    line-height: normal;
    z-index: 1;
}

.lots {
    display: flex;
    flex-direction: column;
    min-width: 1340px;
    max-height: 579px;
    font-family: 'Raleway', 'Arial', sans-serif;
    color: #FFF;
    padding-left: 50px;
    padding-right: 50px;
}

.lots__heading {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #000;
    padding: 0 1179px 0 40px;
    margin: 0;
}

.lots__card-list {
    display: flex;
    padding-top: 27px;
    gap: 25px;
}

.lots__card-list-item {
    min-width: 430px;
    min-height: 450px;
    flex-grow: 1;
}

.card-link {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    position: relative;
    padding: 50px 40px;
    color: #FFF;
    max-width: 430px;
    min-height: 450px;
}


.card_type_film { 
    background-image: url(../images/card-lot-01.jpg);
    background-position: center;
    background-size: cover;
    z-index: 1;
}


.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url(..//images/card-lot-03.jpg);
    background-position: center;
    background-size: cover;
}


.card-title {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 22px;
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 1;
}

.card__text {
    display: flex;
    color: #FFF;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 20px;
    line-height: 24px;
    z-index: 1;
}

.lots__look-more-link {
    margin-top: 30px;
    margin-left: 40px;
    text-decoration: underline;
    color: #000;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-underline-position: under;
}

.about {
    margin-left: auto;
    padding-left: 95px;
    min-width: 1340px;
    min-height: 487px;
}

.text__column {
   display: inline-flex;
   height: 240px;
   flex-direction: column;
   padding-bottom: 0;
   justify-content: flex-end;
   align-items: flex-start;
   gap: 100px;
   margin-left: 410px;
   margin-top: 0px;
}

.about-title {
    color: #000;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.circle {
    border-radius: 50%;
    background-color: #000;
    display: flex;
    width: 240px;
    min-height: 240px;
    justify-content: center;
    align-items: center;
    margin: 180px 50px -120px 50px;
}

.about__logo {
    width: 148px;
    height: 114px;
}


.about-text {
    display: grid;
    grid-template-rows: 25px;

    max-width: 885px;
    max-height: 119px;
    color: #000;
    font-family:'Raleway', 'Arial', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
 

.footer {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    max-width: 1340px;
    margin: 180px auto 90px;
}

.footer_menu {
    display: inline;
    padding-right: 250px;
    padding-left: 330px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__menu-link {
    display: inline;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-underline-position: under;

    color: #000;
    text-align: center;
    font-family: 'Raleway', 'Arial', sans-serif;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    background-color: white;
    min-width: 240px;
    height: 50px;
    list-style: none;
}

.footer__social-icon {
    display: flex;
    text-align: center;
    width: 50px;
}

.footer_address {
    color: #000;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
