.html {
    box-sizing: border-box;
}
body {
    margin: auto;
}
    
.header {
    display: inline-grid;
    grid-template-columns: 1fr min-content 1fr;
    padding: 92px 49px 92px 51px;
    align-items: center;
    background-color: #FFF;
}
    
.container {
    display: flex;
    margin: 0 auto;
    max-width: 1340px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
    text-decoration: none;
}
    
.header__links-list-item {
    color: #000;
    font-size: 18px;
    padding: 0;
    align-self: center;
    text-underline-position: under;
}
    
.header__links-list {
    display: flex;
    gap: 32px;
    list-style-type: circle;
    text-underline-position: under;

}
    
.header__logo {
    margin: auto;
    display: inline-block;
    max-height: 109px;
    max-width: 148px;
    padding-right: 355px;
}

.header__logo-image {
    width: 148px;
    height: 109px;
}
    
.header__address {
    display: inline;
    text-underline-position: under;
}

.container_address {
    color: #000;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
}
    
.cover {
    background-image: url(../images/cover.jpg);
    background-size: cover;
    position: relative;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}
    
.overlay {
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0.6;
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
}

.cover__title {
    color: #FFF;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 30px;
}
    
.aligned-text {
    display: flex;
    padding: 166px 80px 0 50px;
    line-height: 115%;
}

.aligned-text_center {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    margin: 20px 0 0 2px;
}

.aligned-text_right {
    display: flex;
    justify-content: flex-end;
}

.letter-spacing-extened {
    letter-spacing: 30px;
    color: #FFF;
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    text-transform: uppercase;
    font-family: 'Raleway', 'Arial', sans-serif;
}


.cover__description {
    display: flex;
    justify-content: end;
    position: relative;
    align-items: center;
    gap: 78px;
    padding-top: 135px;
    margin-left: 300px;
    z-index: 1;
    padding-bottom: 57px;
    padding-right: 50px;
}

.cover__description-text {
    color: #FFF;
    text-align: center;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    word-spacing: 28px;
}

.bet-button {
    display: block;
    color: #FFF;
    background: transparent;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #FFF;
    padding: 12px 32px;
    margin-right: 135px 50px 57px 78px;
    text-decoration: none;    
    position: relative;
    line-height: 28px;
}

.lots {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    position: relative;
    padding: 180px 40px;
    background-color: #FFF;
}

.title {
    position: relative;
    margin-top: -173px;
    padding: 173px 1179px 27px 40px;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: #FFF;
}

.cards {
    position: relative;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    background: #FFF;
    
}

.card_type_film { 
    display: flex;
    width: 430px;
    min-height: 450px;
    background-size: cover;
    background-position: center;
    color: #FFF;
    margin-right: 25px;
    background-image: url(../images/card-lot-01.jpg);
}


.card_type_book {
    display: flex;
    width: 430px;
    min-height: 450px;
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
    color: #FFF;
    margin-right: 25px;
}

.card_type_picture {
    display: flex;
    width: 430px;
    min-height: 450px;
    background-image: url(..//images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
    color: #FFF;
}


.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.card-title {
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 30px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 1;
}

.card-subtitle {
    display: flex;
    align-items:stretch ;   
    margin: 0px;
    padding: 0px 30px 50px 30px;
    color: #FFF;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    z-index: 1;
}

.lots__look-more-link {
    margin: 40px;
    text-decoration: underline;
    color: #000;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.about {
    margin-left: auto;
    padding-left: 50px;
}

.text__column {
   display: inline-flex;
   height: 388px;
   flex-direction: column;
   padding-bottom: 0;
   justify-content: flex-end;
   align-items: flex-start;
   gap: 100px;
   margin-left: 405px;
   margin-right: 50px;
   margin-top: 0px;

}

.about-title {
    color: #000;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 100px;

}

.circle {
    border-radius: 50%;
    background-color: #000;
    display: flex;
    width: 240px;
    min-height: 240px;
    justify-content: center;
    align-items: center;
    margin: 180px 50px -120px 50px;
}

.about__logo {
    width: 148px;
    height: 114px;
}


.about-text {
    max-width: 885px;
    color: #000;
    font-family:'Raleway', 'Arial', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -75px;
}
 

.footer {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    max-width: 1340px;
    margin: 180px auto 90px;
}

.footer_menu {
    display: inline;
    padding-right: 356px;
    padding-left: 356px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__menu-link {
    display: inline;
    
}
.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    color: #000;
    text-align: center;
    font-family: 'Raleway', 'Arial', sans-serif;

}


.footer__social-list {
    display: flex;
    justify-content: space-around;
    background-color: white;
    max-width: 240px;
    list-style: none;
}
.footer__social-icon {
    width: 50%;
}

.footer_address {
    color: #000;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}